[submodule "SUBMODULES/JUCE"]
	path = SUBMODULES/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "SUBMODULES/RD_DSP"]
	path = SUBMODULES/RD_DSP
	url = git_user@143.244.153.113:/home/git_user/REPOS/PLUGIN_PROJECTS/RD_DSP
